body.about

  section
    margin: 8rem 0

    +grid-media($grid-medium)
      margin: 12rem 0

    .spacer-1
      height: 1rem

  .section__title
    margin-bottom: 1rem




  .about
    display: flex
    flex-direction: column
    margin-left:  -1rem
    margin-right: -1rem

    +grid-media($grid-medium)
      flex-direction: row

    .card
      padding: 2rem
      margin: 1rem
      display: flex
      flex-direction: column
      justify-content: space-between
      text-align: center

      +grid-media($grid-medium)
        flex-basis: calc(100% / 2)

      &__title
        margin-bottom: 1rem

      &__body
        text-align: left

      &__footer
        background-color: $beyond-beige
        padding: 2rem
        margin: 2rem -2rem -2rem
        border-bottom-left-radius:  $base-border-radius
        border-bottom-right-radius: $base-border-radius

        & > *
          color: $base-font-color-light
          border-bottom-color: $base-font-color-light

        A
          border-bottom-width: 1px
          border-bottom-style: solid
          line-height: 1

          &:hover, &:focus
            color: darken($base-font-color-light, 10%)
            border-color: darken($base-font-color-light, 10%)
            transition: $base-transition

        svg
          margin-right: 1rem


      .panels
        display: flex
        margin-left:   -2rem
        margin-right:  -2rem
        margin-bottom: -2rem

        .panel
          flex-basis: 50%
          line-height: 1

          A
            display: block
            height: 100%

          &-wrap
            color: $base-font-color
            padding: 2rem

            &:hover, &:focus
              color: $base-font-color-mid
              transition: $base-transition

            svg
              display: block
              margin: 0 auto 1rem

          &--twitter

            svg
              color: #1dcaff

          &--youtube

            svg
              color: #ff0000





  .events
    position: relative
    text-align: center

    .carousel
      margin-top: 2rem
      text-align: left

      &__item

        .card--event
          position: relative
          margin: 1rem
          line-height: 1

          &__play-icon
            cursor: pointer
            position: absolute
            color: transparentize($white, .4)
            font-size: 5rem
            line-height: 1
            left: 50%
            top:  50%
            transform: translate(-50%, calc(-50% - 47px))
            display: inline-flex

          &:hover, &:focus

            .card--event__play-icon
              color: transparentize($white, .2)
              transition: $base-transition

          &__image
            height: 250px
            width: 100%
            background-size: cover
            background-repeat: no-repeat
            background-position: center bottom
            border-top-left-radius:  $base-border-radius
            border-top-right-radius: $base-border-radius

          &__body
            padding: 2rem

          &__title
            margin-bottom: 1rem
            color: $base-font-color

          &__date
            color: $gray-light
            text-align: right
            font-size: 1.8rem


        &:first-child

          .card--event
            background-color: $beyond-blue

            &__title
              color: lighten($beyond-blue, 40%)





  .exhibitions
    text-align: center

    .card-container--exhibition
      overflow: hidden
      margin-top: 4rem

      +grid-media($grid-medium)
        position: relative

        &::before
          content: ''
          position: absolute
          display: block
          width: 1px
          background: #cecece
          height: 100%
          margin: auto
          top:    0
          left:   0
          right:  0
          bottom: 0


      .card--float
        width: 100%

        +grid-media($grid-medium)
          width: 50%
          position: relative
          box-sizing: border-box
          padding: 4rem

          &:nth-child(even)
            float: right
            margin-top: 80px

            .card

              &::after
                content: ''
                position: absolute
                display: block
                width: 4rem
                background: #cecece
                height: 1px
                margin: auto
                top:  7.2rem
                left: 0

          &:nth-child(odd)
            float: left
            // margin-top: 40px

            .card

              &::after
                content: ''
                position: absolute
                display: block
                width: 4rem
                background: #cecece
                height: 1px
                margin: auto
                top:   7.2rem
                right: 0


        .card--exhibition
          padding: 2rem
          text-align: center
          line-height: 1
          margin-bottom: 2rem

          +grid-media($grid-medium)
            margin-bottom: 0

          A
            display: block

          &__upper
            background: $beyond-beige
            margin: -2rem -2rem 0
            padding: 1.5rem
            border-top-left-radius:  $base-border-radius
            border-top-right-radius: $base-border-radius

          &__date
            color: darken($beyond-beige, 20%)

          &__title
            font-family: $display-font-family
            color: $base-font-color-light
            position: relative
            bottom: -.2rem

          &__time
            color: darken($beyond-beige, 20%)

          &__lower
            background: $white
            margin: 0 -2rem -2rem
            padding: 1.5rem
            border-bottom-left-radius:  $base-border-radius
            border-bottom-right-radius: $base-border-radius

          &__description
            color: $base-font-color-light

          &__address
            color: darken($beyond-beige, 20%)
            line-height: 1.2

          &:hover, &:focus
            box-shadow: $hover-box-shadow
            transition: $base-transition
