body.about

  section
    margin: 8rem 0

    +grid-media($grid-medium)
      margin: 12rem 0

    .section__title
      margin-bottom: 1rem
      text-align: center

  .introduction

    .section__body
      text-align: center

  .locations
    +grid-collapse
    +grid-container

    &__map
      +grid-column(12)
      height: 300px
      box-shadow: $base-box-shadow

      +grid-media($grid-medium)
        +grid-column(6)

      +grid-media($grid-large)
        +grid-column(7)

    &__text-box
      +grid-column(12)
      box-shadow: $base-box-shadow
      padding: 30px
      box-sizing: border-box
      margin-top: 20px
      background-image: url(/assets/img/pages/headers/private/about.jpg)
      background-position: center
      background-size: cover
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      +grid-media($grid-medium)
        +grid-column(6)
        margin-top: 0
        height: 300px

      +grid-media($grid-large)
        +grid-column(5)
    
    &__text
      line-height: 1.3
      text-align: justify
      color: $white
      text-shadow: $base-text-shadow
      margin-bottom: 20px

  .tooltip
    display: flex

    &__image
      width: 100px
      height: 100px
      margin-right: 12px
      background-position: center

      &--hamburg
        background-image: url('/assets/img/pages/about/hamburg.jpg')
        background-size: cover

      &--jena
        background-image: url('/assets/img/pages/about/jena.jpg')
        background-size: cover

      &--barcelona
        background-image: url('/assets/img/pages/about/barcelona.jpg')
        background-size: cover

      &--bilbao
        background-image: url('/assets/img/pages/about/bilbao.jpg')
        background-size: cover

    &__text
      display: flex
      flex-direction: column
      justify-content: center
