.blank

  .main

    .status
      margin-top: 6rem
      margin-bottom: 6rem
      text-align: center
      color: $white

      &__title
        font-size: 12rem
        line-height: 1

      &__subtitle
        font-size: 3rem
