body.default

  section
    margin: 6rem 0

    +grid-media($grid-large)
      margin: 12rem 0

  .column-wrapper
    display: flex
    flex-wrap: wrap

    .column
      position: relative

      svg
        color: $cat-coding

      &__title
        margin-bottom: 1rem





  .intro

    .column-wrapper
      padding: 2rem

      .column
        text-align: center
        padding: 2rem
        flex-basis: 100%

        +grid-media($grid-medium)
          flex-basis: calc(100% / 2 - 4rem)

        svg
          margin-bottom: 2rem




  .app
    display: flex
    flex-wrap: wrap
    margin-left: -2rem
    margin-right: -2rem

    .column-wrapper
      flex-basis: 100%
      padding: 2rem
      margin: 0 2rem
      box-sizing: border-box
      align-content: flex-start

      +grid-media($grid-large)
        flex-basis: calc(50% - 4rem)

      &:first-child
        margin-bottom: 6rem

        +grid-media($grid-large)
          margin-bottom: 0

      &:nth-child(2)

        .column
          align-items: flex-start

    .section__title
      padding: 2rem

    .column
      display: flex
      flex-basis: 100%
      padding: 2rem
      align-items: flex-start
      flex-direction: column

      +grid-media($grid-small)
        flex-direction: row
        align-items: center

      &__text
        margin-left: 0
        margin-top: 2rem

        +grid-media($grid-small)
          margin-left: 2rem
          margin-top: 0





  .news
    margin-left: -2rem
    margin-right: -2rem
    text-align: center
    position: relative

    .section__title
      margin: 0 0 1rem

    .section__body

      +grid-media($grid-large)
        width: 70%
        margin: 0 auto

    .carousel
      position: relative
      margin: 1rem 0 0
      text-align: left

      .card--post
        margin: 2rem
        min-height: 320px

        +grid-media($grid-medium)
          min-height: 350px

      &__link
        display: flex
        justify-content: center
        align-items: center

        &:hover, &:focus
          box-shadow: none

    .paginator
      position: absolute
      bottom: 25rem
      left: 0
      right: 0

      .prev, .next
        visibility: hidden
        position: absolute
        top: 0
        font-size: 8rem
        cursor: pointer
        color: lighten($gray-light, 20%)

        &.slick-disabled
          visibility: hidden

        +grid-media($grid-medium)
          visibility: visible

      .prev
        left: -3rem

        // +grid-media($grid-huge)
        //   left: -5rem

      .next
        right: -3rem

        // +grid-media($grid-huge)
        //   right: -5rem





  .more
    text-align: center

    .section__title
      margin: 2rem 0 1rem

