{% unless page.header_image.blank? %}

  <header class="header" style="background-image: url(/assets/img/pages/headers/{% post_header page.header_image %}); background-position: center {{ page.header_position }}">
    {% if page.header_overlay == true %}<div class="header-overlay"></div>{% endif %}
    <div class="header-wrapper">

      {% if page.upper_title %}
        <h4 class="header__upper-title">{{ page.upper_title }}</h4>
      {% endif %}

      <h1 class="header__main-title">{% if page.main_title %}{{ page.main_title }}{% else %}{{ page.title }}{% endif %}</h1>

      {% if page.sub_title %}
        <h4 class="header__sub-title">{{ page.sub_title }}</h4>
      {% endif %}

      {% if page.layout == 'post' %}
        <div class="header__post-info">
          {% for author in page.authors %}
            <a href="/blog/search/?query={{ author }}" class="header__author">
              {{ author }}
            </a>{% unless forloop.last %}, {% endunless %}
          {% endfor %} — {{ page.date | date: "%B %d, %Y" }} — <a href="/blog/{{ page.category }}" class="header__category">{{ page.category | category_name }}</a>
        </div>
      {% endif %}

    </div>
  </header>

{% endunless %}
