{% unless page.header_image.blank? %}

  <header class="header" style="background-image: url(/assets/img/pages/blog/headers/{% post_header page.header_image %}); background-position: center {{ page.header_position }}">
    <div class="header-wrapper">

      {% if page.upper_title %}
        <p>{{ page.upper_title }}</p>
      {% endif %}

      <h1>{% if page.main_title %}{{ page.main_title }}{% else %}{{ page.title }}{% endif %}</h1>

      {% if page.sub_title %}
        <p>{{ page.sub_title }}</p>
      {% endif %}

      {% if page.layout == 'post' %}
        <p>
          {% for author in page.authors %}
            <a href="/blog/search/?query={{ author }}">
              {{ author }}
            </a>{% unless forloop.last %}, {% endunless %}
          {% endfor %} — {{ page.date | date: "%B %d, %Y" }} — <a href="/blog/{{ page.category }}">{{ page.category | category_name }}</a>
        </p>
      {% endif %}

    </div>
  </header>

{% endunless %}
