<div class="navbar  {% if page.layout == 'no-header' %}navbar--dark{% else %}navbar--transparent{% endif %}">
  <div class="navbar-wrapper">

    <a href="/">
      <img src="/assets/img/logo_developer_portal_white.svg" alt="ePages Logo"  class="logo  logo--devportal">
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        {% assign url = page.url | split: '/' %}
        {% if url[1] == 'blog' %}
          <li class="navigation__item">
            <div class="navigation__search-button"></div>
            <form action="/blog/search/" method="get" class="navigation__search-form">
              <input type="text" class="navigation__search-input" placeholder="Search for tags, keywords, etc." name="query" id="search-box">
            </form>
          </li>
        {% endif %}
        <li class="navigation__item">
          <a href="/apps/" class="navigation__link  {% active_menu docs %}">Docs</a>
        </li>
        <li class="navigation__item">
          <a href="/blog/" class="navigation__link  {% active_menu blog %}">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="/devjobs/" class="navigation__link  {% active_menu devjobs %}">Jobs</a>
        </li>
        <li class="navigation__item">
          <a href="/about/" class="navigation__link  {% active_menu about %}">About</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__button">
      <img src="/assets/img/icons/menu_white.svg" alt="Menu Icon">
    </div>

    <div class="navigation__background"></div>

  </div>
</div>

{% if url[1] == 'blog' %}
  <script src="/assets/js/navbar-search.js"></script>
{% endif %}
{% unless page.layout == 'no-header' %}
  <script src="/assets/js/navbar.js"></script>
{% endunless %}
