<div class="navbar  {% if page.layout == 'no-header' %}navbar--dark{% else %}navbar--transparent{% endif %}">
  <div class="navbar-wrapper">

    <a href="/">
      <img src="/assets/img/logos/logo_developer_portal_white.svg" alt="ePages Logo"  class="logo  logo--devportal">
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item  navigation__item--hidden">
          <a href="/" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="http://docs.beyondshop.cloud/" class="navigation__link" target="_blank">Docs</a>
        </li>
        <li class="navigation__item">
          <a href="/blog/" class="navigation__link  {% active_menu blog %}">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="/devjobs/" class="navigation__link  {% active_menu devjobs %}">Jobs</a>
        </li>
        <li class="navigation__item">
          <a href="/about/" class="navigation__link  {% active_menu about %}">About</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__button">
      <i class="fas  fa-fw  fa-2x  fa-bars"></i>
    </div>

    <div class="navigation__background"></div>

  </div>
</div>

{% unless page.layout == 'no-header' %}
  <script src="/assets/js/navbar.js"></script>
{% endunless %}
