<div class="navbar  navbar--transparent">
  <div class="navbar-wrapper">

    <a href="/">
      <img src="/assets/img/logo_developer_portal_white.svg" alt="ePages Logo"  class="logo  logo--devportal">
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <div class="navigation__search-button"></div>
          <input type="search" class="navigation__search-input" placeholder="Search for tags, keywords, etc.">
        </li>
        <li class="navigation__item">
          <a href="/" class="navigation__link">Docs</a>
        </li>
        <li class="navigation__item">
          <a href="/" class="navigation__link">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="/devjobs/" class="navigation__link">Jobs</a>
        </li>
        <li class="navigation__item">
          <a href="/about/" class="navigation__link">About</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__button">
      <img src="/assets/img/icons/menu_white.svg" alt="Menu Icon">
    </div>

    <div class="navigation__background"></div>

  </div>
</div>

<script src="/assets/js/navbar.js"></script>
