$base-font-family:          'Open Sans', sans-serif
$base-font-color:           rgba(85, 85, 85, 1)
$base-light-font-color:     rgba(187, 187, 187, 1)
$base-line-height:          1.5

$link-font-color:           rgba(85, 85, 85, 1)
