$dev-gray:                  #2c2926
$dev-red:                   #eb3c41
$dev-green:                 #28b464
$dev-blue:                  #418cd2

$base-font-family:          'ProximaNova-Regular', sans-serif
$display-font-family:       'HelveticaNeue-Bold', sans-serif

$base-font-color:           $dev-gray
$base-font-color-light:     #fff
$link-font-color:           $dev-blue

$base-line-height:          1.5
$display-line-height:       1.3
