// General
$dev-red:                                 #eb3c41
$dev-green:                               #28b464
$dev-blue:                                #418cd2
$beyond-blue:                             #1C3646
$beyond-green:                            #4EB7A8
$beyond-beige:                            #efeee5

$gray-dark:                               #2c2926
$gray-mid:                                #4a4a4a
$gray-light:                              #9b9b9b
$whitesmoke:                              #f7f7f7
$white:                                   #ffffff

$base-font-family:                        'ProximaNova-Regular', sans-serif
$display-font-family:                     'HelveticaNeue-Bold', sans-serif
$display-font-family-light:               'HelveticaNeue-Light', sans-serif
$code-font-family:                        'Roboto Mono', monospace

$base-font-color:                         $gray-dark
$base-font-color-mid:                     $gray-mid
$base-font-color-light:                   $gray-light
$base-font-color-white:                   $white
$link-font-color:                         $beyond-green

$document-background-color:               $whitesmoke

$base-font-size:                          1.8rem
$code-font-size:                          1.6rem

$base-line-height:                        1.5
$display-line-height:                     1.3

$base-border:                             1px solid #e1e1e1
$base-border-radius:                      4px

$base-box-shadow:                         1px 1px 2px rgba(0,37,55,.1)
$hover-box-shadow:                        3px 3px 2px rgba(0,37,55,.1)
$base-text-shadow:                        0 1px 3px rgba(50,50,50,.4)

$base-transition:                         .2s ease-out


// Cards
$card-background-color:                   $white
$card-border:                             $base-border
$card-border-radius:                      $base-border-radius
$card-box-shadow:                         $base-box-shadow
$card-margin-mobile:                      2rem
$card-margin-desktop:                     4rem
$card-ribbon-background-color:            $beyond-green
$card-ribbon-background-color-shade:      darken($card-ribbon-background-color, 10%)

// Navbar
$navbar-height:                           80px
$navbar-background-color:                 $beyond-blue
$navbar-border:                           1px solid lighten($navbar-background-color, 10%)
$navbar-input-background-color:           lighten($navbar-background-color, 10%)

// Header
$header-height:                           400px

// Pagination
$pagination-disabled-bg:                  #e1e1e1
$pagination-disabled-color:               $base-font-color-light
$pagination-selected-bg:                  $beyond-green
$pagination-selected-color:               $white

// Categories
$cat-api-experience:                      $beyond-green
$cat-coding:                              $beyond-green
$cat-events:                              $beyond-green
$cat-language-and-localization:           $beyond-green
$cat-methods-and-tools:                   $beyond-green
$cat-on-the-job:                          $beyond-green
$cat-tech-stories:                        $beyond-green
$cat-techcomm-and-socialmedia:            $beyond-green

$cat-api-experience-hov:                  darken($cat-api-experience, 10%)
$cat-coding-hov:                          darken($cat-coding, 10%)
$cat-events-hov:                          darken($cat-events, 10%)
$cat-language-and-localization-hov:       darken($cat-language-and-localization, 10%)
$cat-methods-and-tools-hov:               darken($cat-methods-and-tools, 10%)
$cat-on-the-job-hov:                      darken($cat-on-the-job, 10%)
$cat-tech-stories-hov:                    darken($cat-tech-stories, 10%)
$cat-techcomm-and-socialmedia-hov:        darken($cat-techcomm-and-socialmedia, 10%)
