<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Cache-Control" content="public, max-age=28800">

  <link rel="icon" type="image/png" href="/assets/img/logos/favicon.ico" sizes="32x32">

  <title>{% if page.permalink == '/' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>

  {% if page.url == '/' %}
    {% assign base_url = '/' %}
  {% else %}
    {% assign base_url = page.url | split: '/' %}
    {% assign base_url = base_url[1] %}
  {% endif %}

  {% if site.data.seo.[base_url].description %}<meta name="description" content="{{ site.data.seo.[base_url].description }}">{% endif %}
  {% if site.data.seo.[base_url].keywords %}<meta name="keywords" content="{{ site.data.seo.[base_url].keywords | join: ', ' }}">{% endif %}

  {% if site.data.seo.[url_base].description %}
    <meta name="description" content="{{ site.data.seo.[url_base].description }}" property="og:description" />
  {% endif %}

  {% if site.data.seo.[url_base].keywords %}
    <meta name="keywords" content="{{ site.data.seo.[url_base].keywords | join: ', ' }}" />
  {% endif %}

  {% if page.header_image %}
    <meta property="og:image" name="twitter:image" content="{{ site.url }}/assets/img/pages/headers/{{ page.header_image }}" />
  {% endif %}

  <script defer src="/assets/js/fontawesome.min.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src='/assets/js/math-jax.min.js' async></script>
  <script src="/assets/js/lightbox.min.js"></script>

  <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: '%s%N' }}" />
  <link rel="stylesheet" href="/assets/css/lightbox.css" />

  <script src="{{ '/assets/js/cookie-notice.js' | relative_url }}"></script>

  <script>
    if (!readCookie('cookie-notice-dismissed')) {
      /* Show the cookie notice if no option has been selected yet */
      $(document).ready(function() {
        $('.cookie-notice__backdrop').css('display', 'flex');
      });
    } else if (readCookie('cookie-notice-dismissed') == 'true') {
      /* Load user's custom scripts if cookie notice has been accepted */
      {% include cookie_notice_scripts.html %}
    }
  </script>

</head>
