$widths: 5,10,15,20,25,30,35,40,45,50,100

.card
  background: $card-background-color
  border: $card-border
  border-radius: $card-border-radius
  box-shadow: $card-box-shadow

  &.tile
    overflow: hidden

  &--markdown

    h1, h2, h3, h4, h5, h6
      margin: 4rem $card-margin-mobile 2rem

      +grid-media($grid-medium)
        margin: 4rem $card-margin-desktop 2rem

    p, ul, ol, table
      margin: 2rem $card-margin-mobile

      +grid-media($grid-medium)
        margin: 2rem $card-margin-desktop

      &:first-of-type
        margin-top: $card-margin-mobile

        +grid-media($grid-medium)
          margin-top: $card-margin-desktop

      &:last-of-type
        margin-bottom: $card-margin-mobile

        +grid-media($grid-medium)

          margin-bottom: $card-margin-desktop

    table, th, td
      border: $base-border

    table
      th
        font-weight: bold
      td, th
        padding: .2em .4em

    ul
      li
        margin-left: 1em
        list-style-type: disc

    div:not(.custom-image) img:not(.icon-share), P img:not(.icon-share)
      margin: 2rem 0
      margin-left: -$card-margin-mobile
      width: calc(100% + #{$card-margin-mobile} * 2)
      height: auto

      +grid-media($grid-medium)
        margin-left: -$card-margin-desktop
        width: calc(100% + #{$card-margin-desktop} * 2)

    .highlight:not(pre)
      margin: 4rem 0
      padding: 2rem $card-margin-mobile
      font-family: $code-font-family
      font-size: 1.6rem
      overflow: scroll

      +grid-media($grid-medium)
        padding: 2rem $card-margin-desktop

    .twitter-tweet
      margin: $card-margin-mobile !important
      width: calc(100% - #{$card-margin-mobile} * 2) !important

      +grid-media($grid-small)
        margin: $card-margin-desktop auto !important
        width: 500px !important

      &:not(.twitter-tweet-rendered)
        max-width: 500px
        overflow: hidden
        border: 1px solid rgb(225, 232, 237)
        border-radius: 4px
        padding: 2rem $card-margin-mobile
        box-sizing: border-box

        +grid-media($grid-medium)
          padding: 2rem $card-margin-desktop

        p
          margin: 0

    .image-lightbox
      margin: 2rem 0
      margin-left: -$card-margin-mobile
      width: calc(100% + #{$card-margin-mobile} * 2)
      height: 400px
      position: relative
      background-size: cover !important

      +grid-media($grid-medium)
        margin-left: -$card-margin-desktop
        width: calc(100% + #{$card-margin-desktop} * 2)

      &__button
        position: absolute
        bottom: .5em
        right: .5em
        color: #2c2926
        padding: .5em 1em

        &:hover
          box-shadow: $hover-box-shadow
          transition: $base-transition

    .custom-image
      margin: 0 auto $card-margin-mobile
      width: 100%

      +grid-media($grid-medium)
        margin: 0 auto $card-margin-desktop

      a
        width: 100%
        pointer-events: none

      &--circle
        width: calc(100% - #{$card-margin-mobile} * 2)

        &.custom-image--left
          margin-left: $card-margin-mobile
          margin-right: $card-margin-mobile
          float: none

          +grid-media($grid-medium)
            margin-left: $card-margin-desktop
            margin-right: $card-margin-desktop

          +grid-media($grid-small)
            float: left

        &.custom-image--right
          margin-left: $card-margin-mobile
          margin-right: $card-margin-mobile
          float: none

          +grid-media($grid-medium)
            margin-left: $card-margin-desktop
            margin-right: $card-margin-desktop

          +grid-media($grid-small)
            float: right

        .custom-image__image
          border-radius: 100%

      +grid-media($grid-small)
        @each $wdth in $widths
          &.custom-image--width-#{$wdth}
            width: unquote("#{$wdth}%")

      &--center

        .custom-image__caption
          margin-left: $card-margin-mobile
          margin-right: $card-margin-mobile

          +grid-media($grid-medium)
            margin-left: $card-margin-desktop
            margin-right: $card-margin-desktop

      &--left
        float: left
        margin-right: $card-margin-mobile

        +grid-media($grid-medium)
          margin-right: $card-margin-desktop

        .custom-image__caption
          text-align: left
          margin-left: $card-margin-mobile
          margin-right: $card-margin-mobile

          +grid-media($grid-medium)
            margin-left: $card-margin-desktop
            margin-right: $card-margin-desktop

      &--right
        float: right
        margin-left: $card-margin-mobile

        +grid-media($grid-medium)
          margin-left: $card-margin-desktop

        .custom-image__caption
          margin-left: $card-margin-mobile
          margin-right: $card-margin-mobile

          +grid-media($grid-small)
            text-align: right

          +grid-media($grid-medium)
            margin-left: $card-margin-desktop
            margin-right: $card-margin-desktop

      &__image
        width: 100%
        height: auto
        background-size: cover

      &__lightbox
        pointer-events: all !important

      &__caption
        font-size: 1.4rem
        color: $gray-light
        margin: .5em 0 0

    .youtube-video
      width: 100%
      display: flex
      justify-content: center
      margin-bottom: $card-margin-desktop

  &--post
    box-sizing: border-box
    position: relative

    &:hover
      box-shadow: $hover-box-shadow
      transition: $base-transition

    &__header
      position: relative
      height: 250px
      background-size: cover
      border-top-left-radius: $card-border-radius
      border-top-right-radius: $card-border-radius

    &__category
      position: absolute
      top: 2rem
      left: -1rem
      color: $white
      line-height: 1
      font-weight: bold
      padding: .5em 1em
      font-size: 1.6rem
      letter-spacing: .05em
      box-shadow: $hover-box-shadow
      border-top-right-radius: $base-border-radius
      border-bottom-right-radius: $base-border-radius

      &::before
        content: ''
        position: absolute
        left: -1px
        bottom: calc(-1rem - 1px)
        width: 0
        height: 0
        border-style: solid
        border-width: 0 1rem 1rem 0

    &__body
      padding: 2rem
      display: block

    &__title
      color: $gray-dark
      padding-bottom: 3.6rem

    &__footer
      display: flex
      justify-content: space-between
      position: absolute
      bottom: 2rem
      width: calc(100% - 6rem)
      color: $gray-light

    &__author
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      margin-right: 2rem

    &__date
      white-space: nowrap

  &--search
    width: 100%
    text-align: center
    padding: 20rem 0
    box-sizing: border-box
    background-size: cover
    background-position: center

    h3
      line-height: 1
      font-size: 4.2rem
