.category
  line-height: 1
  color: $white
  line-height: 1
  font-weight: bold
  padding: .5rem 1rem
  font-size: 1.6rem
  letter-spacing: .05em
  // box-shadow: $hover-box-shadow
  border-radius: $base-border-radius
  transition: $base-transition
  margin: 0 .3em .6em

  &:hover
    color: $white

  &--api-experience
    background-color: $cat-api-experience

    &:hover
      background-color: $cat-api-experience-hov

    &::before
      border-color: transparent $cat-api-experience-hov transparent transparent

  &--coding
    background-color: $cat-coding

    &:hover
      background-color: $cat-coding-hov

    &::before
      border-color: transparent $cat-coding-hov transparent transparent

  &--events
    background-color: $cat-events

    &:hover
      background-color: $cat-events-hov

    &::before
      border-color: transparent $cat-events-hov transparent transparent

  &--language-and-localization
    background-color: $cat-language-and-localization

    &:hover
      background-color: $cat-language-and-localization-hov

    &::before
      border-color: transparent $cat-language-and-localization-hov transparent transparent

  &--methods-and-tools
    background-color: $cat-methods-and-tools

    &:hover
      background-color: $cat-methods-and-tools-hov

    &::before
      border-color: transparent $cat-methods-and-tools-hov transparent transparent

  &--on-the-job
    background-color: $cat-on-the-job

    &:hover
      background-color: $cat-on-the-job-hov

    &::before
      border-color: transparent $cat-on-the-job-hov transparent transparent

  &--tech-stories
    background-color: $cat-tech-stories

    &:hover
      background-color: $cat-tech-stories-hov

    &::before
      border-color: transparent $cat-tech-stories-hov transparent transparent

  &--techcomm-and-socialmedia
    background-color: $cat-techcomm-and-socialmedia

    &:hover
      background-color: $cat-techcomm-and-socialmedia-hov

    &::before
      border-color: transparent $cat-techcomm-and-socialmedia-hov transparent transparent
