.header
  background-size: cover
  background-position: center center
  width: 100%
  height: 400px
  display: flex
  align-items: center
  box-shadow: $base-box-shadow

  &-wrapper
    width: 90%
    max-width: 1200px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center

  h1, h2, p
    color: $base-font-color-white
    text-shadow: $base-text-shadow

.page
  .header
    .icon-play
      opacity: .8

.post
  .header-wrapper
    flex-direction: column

    h2
      margin-bottom: 2rem

    p
      color: $base-font-color-white
