.navbar
  position: fixed
  top: 0
  width: 100%
  height: $navbar-height
  display: flex
  align-items: center
  z-index: 9999
  transition: $base-transition

  &-wrapper
    width: 90%
    max-width: 1200px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between

  .logo
    display: block

    &--devportal
      height: 3rem

  .navigation
    $navigation-width: 75%
    +position(absolute, 0 null null (-$navigation-width))
    background: $navbar-background-color
    height: 100vh
    z-index: 1
    width: $navigation-width

    +grid-media($grid-medium)
      background: inherit
      height: inherit
      position: relative
      float: right
      width: auto
      left: auto

    &--open
      left: 0
      transition: $base-transition

    &__list
      display: flex
      flex-direction: column

      +grid-media($grid-medium)
        flex-direction: row

    &__item
      border-bottom: $navbar-border
      display: inherit

      +grid-media($grid-medium)
        padding: 1em 0
        border-bottom: none

        &:not(:last-child)
          margin-right: 2rem

        &--hidden
          display: none

    &__link
      color: $base-font-color-white
      display: block
      width: 100%
      padding: 1em

      +grid-media($grid-medium)
        padding: 0

      &:hover,
      &:focus,
      &--active
        text-decoration: none
        color: $beyond-green

    &__button
      float: right

      +grid-media($grid-medium)
        display: none

    &__background
      +position(absolute, 0 null null 0)
      width: 100vw
      height: 100vh
      background: rgba(0, 0, 0, .4)
      display: none

      +grid-media($grid-medium)
        display: none

    &__search-button
      height: 2.5rem
      width: 2.5rem
      background-image: url(/assets/img/icons/search_white.svg)
      background-position: center
      background-repeat: no-repeat
      display: none

      +grid-media($grid-medium)
        display: inline-block

    &__search-form
      width: 100%
      padding: 1em

      +grid-media($grid-medium)
        width: auto
        padding: 0

    &__search-input
      outline: none
      border: 0
      font-size: $base-font-size
      transition: width .2s ease-out
      width: 100%
      color: $white
      background-color: $navbar-input-background-color
      padding: .4em.8em
      box-sizing: border-box

      +grid-media($grid-medium)
        width: 0
        visibility: hidden
        background: transparent
        border-bottom: 1px solid $white
        color: $white
        padding: 0

      &--open
        visibility: visible
        transition: width .2s ease-out
        text-shadow: $base-text-shadow

        +grid-media($grid-medium)
          margin-left: 1rem
          width: 16rem

        +grid-media($grid-large)
          width: 30rem

        &::-webkit-input-placeholder
          font-weight: 100
          color: lighten($gray-light, 30%)

  &--transparent
    background: linear-gradient(rgba(60,60,60,.5), rgba(0,0,0,0))

    .navigation

      &__link

        +grid-media($grid-medium)
          text-shadow: $base-text-shadow

  &--dark
    background: $navbar-background-color

.devjobs

  .navbar

    .navigation
      background: $gray-dark

      +grid-media($grid-medium)
        background: inherit

      &__item
        border-bottom: 1px solid lighten($gray-dark, 5%)

        +grid-media($grid-medium)
          border-bottom: none

      &__link
        color: $white

        &:hover,
        &:focus,
        &--active
          text-decoration: underline
          color: $white

    &--dark
      background: $gray-dark
