.search-form
  display: flex
  justify-content: center
  margin-bottom: 3rem

  +grid-media($grid-medium)
    margin-bottom: 5rem

  .input-wrapper
    position: relative

    .fa-search
      color: $gray-light
      position: absolute
      left: 0
      z-index: 1
      padding: 1.3rem 1.5rem

    .search-input
      width: 400px
      padding: .5em 1em .5em 3em
      background-color: $white
      border-radius: $base-border-radius
      box-shadow: $base-box-shadow
      outline: none
      border: 0
