{% for author in page.authors %}
  {% assign author_data = site.data.authors | where:"id", author | first %}
  {% unless author_data %}
    {% assign no_author = true %}
  {% endunless %}
{% endfor %}

{% if no_author %}
  <hr class="separator">
{% else %}
  <div class="authors">
    <h2 class="author__title">About the author{% if page.authors.size > 1 %}s{% endif %}</h2>

    <div class="author__container">
      {% for author in page.authors %}
        {% assign author_data = site.data.authors | where:"id", author | first %}
        <div class="author__card  author__card--{{ page.authors.size }}">
          <a class="author__image  author__image--{{ page.authors.size }}" href="/assets/img/pages/blog/authors/{{ author_data.image }}" data-lightbox="/assets/img/authors/{{ author_data.image }}">
            <img src="/assets/img/pages/blog/authors/{{ author_data.image }}">
          </a>
          <div class="author__description">
            <strong>{{ author_data.name }}</strong> {{ author_data.description }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
