<div class="cross-reading">

  {% include components/post-card.html
             category="UX &amp; Design"
             header-image="blog.jpg"
             title="5 compelling reasons why you should manage your terminology"
             authors="Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit, Birgit"
             date="Sep 12, 2017"
             header-position="top"
             url="" %}

  {% include components/post-card.html
             category="Events"
             header-image="blog.jpg"
             title="5 compelling reasons why you should manage your"
             authors="Birgit"
             date="Sep 12, 2017"
             header-position="bottom"
             url="" %}

  {% include components/post-card.html
             category="API Experience"
             header-image="blog.jpg"
             title="5 compelling reasons why"
             authors="Birgit"
             date="Sep 12, 2017"
             url="" %}

</div>
