{% comment %}

  IMPORTANT!!

  DON'T USE DOUBLE QUOTATION MARKS on this file. It will break the infinite scroll functionality.

{% endcomment %}

<div class='card  card--post'>
  <a href='{{ include.url }}' class='card--post__post-link'>
    <div class='card--post__header' style='background-image: url(/assets/img/pages/headers/{% post_header include.header_image %}); background-position: center {{ include.header_position }}'></div>
    <div class='card--post__body'>
      <h3 class='card--post__title'>{{ include.title }}</h3>
      <div class='card--post__footer'>
        <div class='card--post__author'>{{ include.authors | join: ', '}}</div>
        <div class='card--post__date'>{{ include.date | date: '%b %d, %Y' }}</div>
      </div>
    </div>
  </a>
  <a href='/blog/{{ include.category }}' class='card--post__category  card--post__category--{{ include.category }}'>{{ include.category | category_name }}</a>
</div>
