<div class="post-share">

  <a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}&amp;related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    <i class="fab  fa-fw  fa-2x  fa-twitter-square"></i>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <i class="fab  fa-fw  fa-2x  fa-facebook-square"></i>
  </a>

  <a href="/blog/feed.xml" target="_blank" rel="nofollow">
    <i class="fas  fa-fw  fa-2x  fa-rss-square"></i>
  </a>

</div>
