<div class="card  card--post">
  <div class="card--post__header" style="background-image: url(/assets/img/blog/headers/{% post_header include.header-image %}); background-position: center {{ include.header-position }}">
    <a href="/blog/category/{{ include.category }}" class="card--post__category">{{ include.category }}</a>
  </div>
  <a href="{{ include.url }}" class="card--post__body">
    <h3 class="card--post__title">{{ include.title }}</h3>
    <div class="card--post__footer">
      <p class="card--post__author">{{ include.authors | join: ", "}}</p>
      <p class="card--post__date">{{ include.date | date: "%b %d, %Y" }}</p>
    </div>
  </a>
</div>
