<div class="post-share">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}&amp;related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    <img src="/assets/img/icons/twitter_color.svg" alt="Twitter Icon" class="icon-share">
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <img src="/assets/img/icons/facebook_color.svg" alt="Facebook Icon" class="icon-share">
  </a>
</div>
