<div class="modal">

  {% include components/load-spinner.html %}

  <div style="display: none;" id="response-text">
    <h3 class="modal__title">Thank you for your registration</h3>

    <p class="modal__text">You will receive an email confirmation with your test shop data.</p>

    <p class="modal__text">If you have any questions, feel free to contact us at <a href="mailto:apps@epages.com">apps@epages.com</a>.</p>
  </div>

  <div id="main-text">
    <h3 class="modal__title">Join the ePages Developer Program</h3>

    <p class="modal__text">Just enter your details below to sign up for the ePages Developer Program and you will receive a free ePages Now test shop.</p>

    <form class="form" id="demoshopform-now" method="post" action="https://devshop.epages.com/epages/Site.sf/en_GB/?ObjectPath=/Providers/epagesdev&ViewAction=ViewProviderRegistrationForm" target="frame--epages-now">

      <div class="form__row  form--cols-2">
        <input class="form__input" type="text" name="LastName" id="LastName" placeholder="Full name *" required />
        <input class="form__input" type="email" name="EMail" id="EMail" placeholder="Email address *" required />
      </div>

      <div class="form__row">
        <input type="checkbox" name="tc" required /> I have read and agree to the <a href="/terms-and-conditions/" target="_blank">terms and conditions</a>.
      </div>

      <input type="hidden" name="ChangeAction" value="RegisterProviderTestShop" />
      <input type="hidden" name="FirstName" id="FirstName" value="" />
      <input type="hidden" name="CountryID" id="CountryID" value="826" />
      <input type="hidden" name="LocaleID" id="LocaleID" value="en_GB" />
      <input type="hidden" name="RegFormLocale" id="RegFormLocale" value="en_GB" />
      <input type="hidden" name="Phone" id="Phone" value="000000" />
      <input type="hidden" name="ShopTypeAlias" value="PartnerTestShopNow" />
      <input type="hidden" name="language" id="language" value="en" />

      <div class="form__cta-container">
        <button class="cta  cta--beyond" type="submit">Get free test shop</button>
      </div>
    </form>
  </div>

</div>
