<!doctype html>

<html>
  {% include head.html %}
  <body class="blog">
    {% include sections/navbar.html %}
    {% include sections/header.html %}
    <main>
      <div class="content-wrapper">

        <div class="columns">

          <div class="post-container">
            {% include components/pagination.html %}
          </div>

          <div class="card  sidebar">
            {% for category in site.category_list %}
              <a class="category  category--{{ category[0] }}"  href="/blog/{{ category[0] }}/">{{ category[1] }}</a>
            {% endfor %}
          </div>

        </div>
      </div>
    </main>
    {% include sections/footer.html %}
  </body>
</html>
