<!doctype html>

<html>
  {% include head.html %}
  <body class="blog">
    {% include sections/navbar.html %}
    {% include sections/header.html %}
    <main>
      <div class="content-wrapper">
        {% include components/categories.html %}
        <div class="post-container" id="posts">
          {{ content }}
        </div>
        <div id="loading" data-next="/api{{ page.permalink }}/page-1.json">
          <img src="/assets/img/loading.svg" alt="Loading…" />
        </div>
      </div>
    </main>
    {% include sections/footer.html %}
    <script src="/assets/js/endless-scroll.js"></script>
    <script src="/assets/js/date-format.js"></script>
  </body>
</html>
