<!doctype html>

<html>
  {% include head.html %}
  <body class="post">
    {% include sections/navbar.html %}
    {% include components/progressbar.html %}
    {% include sections/header.html %}
    <main>
      <div class="content-wrapper">
        <div class="card  card--markdown">
          {{ content }}
          {% include components/authors.html %}
          {% include components/tags.html %}
          {% include components/post-share.html %}
        </div>
        {% include components/cross-reading.html %}
      </div>
      {% include components/arrow-up.html %}
    </main>
    {% include sections/footer.html %}
    <script src="/assets/js/posts.js"></script>
    <script src="/assets/js/progressbar.js"></script>
    <script src="/assets/js/jquery.overlaps.js"></script>
    <script src="/assets/js/post-share.js"></script>
    <script src="/assets/js/scroll-top.js"></script>
  </body>
</html>
