<!doctype html>

<html>
  {% include head.html %}
  <body class="post">
    {% include sections/navbar.html %}
    {% include components/progressbar.html %}
    {% include sections/header.html %}
    <main>
      <div class="content-wrapper">
        <div class="card  card--markdown">
          {{ content }}
          {% include components/authors.html %}
          {% include components/tags.html %}
          {% include components/post-share.html %}
        </div>
        {% include components/cross-reading.html %}
      </div>
      {% include components/arrow-up.html %}
    </main>
    {% include sections/footer.html %}
    <script src="/assets/js/lightbox.min.js"></script>
    <script src="/assets/js/posts.js"></script>
    <script src="/assets/js/progressbar.js"></script>
    <script src="/assets/js/jquery.overlaps.js"></script>
    <script src="/assets/js/post-share.js"></script>
    <script src="/assets/js/scroll-top.js"></script>
    <link rel="stylesheet" href="/assets/css/lightbox.css" />
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:156452,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </body>
</html>
