<!doctype html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="Cache-Control" content="public, max-age=28800">

    <link rel="icon" type="image/png" href="/assets/img/logos/favicon.ico" sizes="32x32">

    <title>{% if page.permalink == '/' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="/assets/css/main.css?{{ site.time | date: '%s%N' }}" />
  </head>

  <body class="white">
    <main class="main">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
